/*강조 관련*/
.bold_text{
  font-weight : 900;
}

.red_point{
  color : red;
}

body>a:hover{
  font-weight : 900;
}

body>p>a:hover{
  font-weight : 900;
}

ol>a>li:hover{
  font-weight : 900;
}

body button{
  cursor: pointer;
}

/*스타일 관련*/
body>h1>span{
  font-size : small;
  cursor : default;
}

a{
  text-decoration: none;
}

table,tr,td{
  border : 1px solid black;
}

thead{
  background-color : #bbbbbb;
}
/*배치 및 특성, 속성 관련*/
ol{
  width : fit-content;
}

.m_zero{
  margin : 0;
}

.p_zero{
  padding : 0;
}

.align_center{
  display : table;
  margin  : 0 auto;
}

.fit_contents{
  width : 100%;
}

.display_IB{
  display : inline-block;
}
/*-----------------*/
